{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
{% block content %}
<body class="h-screen bg-gray-100 bg-right bg-no-repeat sm:bg-cover md:bg-none overflow-x-hidden overflow-y-hidden" style="background-size: 55%; background-color: #EAEAEA; background-position-x: right; background-repeat: no-repeat;">
    <div class="grid-cols-4 pl-14 sm:pl-32 sm:pr-24">
        <div class="flex col-span-3">    
            <div class="">
            <h2 class="mb-4 mt-48 text-3xl text-center font-bold leading-none tracking-tight text-green-600 md:text-3xl lg:text-3xl dark:text-lime-600">Login</h2>
    
            {% if form.errors %}
            <p class="text-red-500">Your username and password didn't match. Please try again.</p>
            {% endif %}
    
            {% if next %}
            {% if user.is_authenticated %}
                <p class="text-red-500">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
            {% else %}
                <p class="text-red-500">Please login to see this page.</p>
            {% endif %}
            {% endif %}
    
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                
                <tr class="pb-8">
                    <div>
                        <td class="pr-8 text-sm tracking-tight font-bold text-2xl text-green-600 dark:text-lime-700">{{ form.username.label_tag }}</td>
                    </div>
                    <div class=" border-y-2 border-lime-700 text-lime-700 placeholder-gray text-sm focus:ring-lime-700 focus:border-lime-700 0 block w-full p-2.5 dark: dark:border-lime-700">
                        <td>{{ form.username }}</td>
                    </div>
                </tr>
                <tr>
                <td class="text-sm tracking-tight font-bold text-2xl text-green-600 dark:text-lime-700">{{ form.password.label_tag }}</td>
                <td class="">{{ form.password }}</td>
                </tr>
            </table>
    
            <input type="submit" value="Login" class="mt-8 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-36 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            <input type="hidden" name="next" value="{{ next }}">
            </form>
    
            {# Assumes you set up the password_reset view in your URLconf #}
            <p class="mt-4"><a href="{% url 'password_reset' %}" class="text-lime-700 dark:text-lime-700">Lost password?</a></p>
        </div>
        <div class="justify-end col-span-1 hidden md:block">
            <div style="background-size: 70%; background-position-x: right; background-repeat: no-repeat; background-image: url(/static/myapp/images/background.jpg);" class="h-full absolute top-20 left-1/3 right-0">
                <img src="" alt="" class="h-auto w-2/5 ">
            </div>
        </div>
        

</body>
{% endblock %}
</html>

