{% load static %}
<h1>Order Management</h1>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <br>
    {{formset.management_form}}
    {% for innerform in formset %}
    <div class="inner-form">
        {{innerform}}
    </div>
    {% endfor %}
    <input type="submit" name="save" />
    <input type="submit" value="Delete" />
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('.inner-form').formset({
            prefix : '{{formset.prefix}}'
        });
    })
</script>